/* default body template for all webpages */
body{
    background-color: #FDFDFD;
    color: #353535;
    font: normal 25px Palatino, "Palatino Linotype", serif;
    text-rendering: optimizeLegibility;
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 140px;
}

/* make all links pink with no underline */
a{
    color: #E50053;
    text-decoration: underline solid transparent;
    transition: text-decoration 250ms ease;
}

/* on hover, underline the text */
a:hover{
    text-decoration: underline solid Currentcolor;
}

.header-container{
    width: 60%;
    position: fixed;
    top: 0;
    background-color: white;
}

/* title is inline block to allow nav to be on the top bar as well, also has custom font */
.title{
    display: inline-block;
    font: normal 27px Palatino, "Palatino Linotype", serif;
}

.title a{
    color: #353535;
}

.title a:hover{
    color: #E50053;
}

nav{
    font: normal 16px Palatino, "Palatino Linotype", serif;
    float: right;
    display: inline;
    line-height: 45px;
}

nav ul{
    list-style-type: none;
}
/* force text to be inlined in a list */
nav ul li{
    display: inline;
}

/* add padding to the '-' character in the nav */
nav ul li .nav-pad{
    padding-right: 4px;
    padding-left: 4px;
}

.footer{
    text-align: center;
    float: none;
}

/* remove list details in the footer */
.footer ul{
    list-style-type: none;
    padding-left: 0px;
}

/* display the footer in one line */
.footer ul li{
    display: inline;
    padding: 5%;
}

/* main webpage text-alignment */
.page-container{
    font: normal 25px Palatino, "Palatino Linotype", serif;
    padding-left: 10%;
    padding-right: 10%;
}

/* make headers in page container custom font size */
.page-container h2{
    font: normal 35px Palatino, "Palatino Linotype", serif;
    padding-bottom:5px;
}

/* all unordered lists in a page container has size 20 font */
.page-container ul{
    font: normal 20px Palatino, "Palatino Linotype", serif;
}

/* list bottom padding is 3 px */
.page-container li{
    padding-bottom: 3px;
}

/* page header is size 50 */
.page-header h2{
    font: normal 50px Palatino, "Palatino Linotype", serif;
    padding-bottom:5px;
}

/* page header list item is 23 px with 2px of bottom padding */
.page-header li{
    font: normal 23px Palatino, "Palatino Linotype", serif;
    padding-bottom: 2px;
}

.blog-list-container{
    padding-left: 8%;
    padding-right: 8%;
}

/* blog menu */
.blog-list a{
    color: #353535;
    text-decoration: none;
}

.blog-list ul{
    list-style-type: none;
    padding-left: 0px;
    padding-bottom: 0px;
}

.blog-list li{
    padding-top: 15px;
    padding-bottom: 15px;
}


.blog-list li a{
    font: normal 22px HoeflerText-Regular, 'Hoefler Text', 'Goudy Old Style', 'Palatino', 'Palatino Linotype', serif;
}

.blog-list li span{
    font: normal 16px Palatino, "Palatino Linotype", serif;
    font-style: italic;
}

.blog-list li a:hover{
    color: #E50053;
    text-decoration: underline;
}


/*blog title*/
.blog-header h2{
    font: normal 70px Palatino, "Palatino Linotype", serif;
    line-height: 0px;
}

.blog-header span{
    font: normal 22px Palatino, "Palatino Linotype", serif;
    font-style: italic;
}

/* Blog table of contents font and list type, add padding between elements */
.blog-header li{
    font: normal 23px Palatino, "Palatino Linotype", serif;
    padding-bottom: 2px;
}

/* Blog header font */
.blog-header p{
    font: normal 25px Palatino, "Palatino Linotype", serif;
}

/*Blog article title font */
.blog-container h2{
    font: normal 50px Palatino, "Palatino Linotype", serif;
    padding-top: 15px;
}

/*List blog article list element font*/
.blog-container h3{
    font: normal 26px Palatino, "Palatino Linotype", serif;
    padding: 0px;
    margin: 0px;
}

/*Blog content paragraph font */
.blog-container p{
    font: normal 20px Palatino, "Palatino Linotype", serif;
    line-height: 1.4;
    letter-spacing: .2px;
    margin: 1.3em 0px;
}

/*Blog minimal top padding*/
/*Used on p tags for a list type look, without using li or ol tags*/
.blog-container .list-paragraph{
    padding-top: 0px;
    margin-top: 5px;
}

/* Use uppercase letters as list type inside blog */
.blog-container ol{
    list-style-type:upper-alpha;
}

/* I forget :) */
.blog-container ol li{
    padding-bottom: 5px;
    font: normal 20px Palatino, "Palatino Linotype", serif;
}

.blog-container img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.pic-container{
    z-index: -10;
    width: 260px;
    height: 260px;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.pic-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

/***************************************************************
 *                         UTILITIES                           *
 ***************************************************************/

#scroll-bar{
    background-color: #E50053;
    position: fixed;
    top: 0;
    left: 0;
    height: 3px;
    z-index: 100;
}

code{
    border-radius: 3px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    padding: 2px 2px 2px 2px;
    font-family: monaco, menlo, consolas, "courier new", monospace!important;
    color: #E50053;
    font-size: 1.0rem;
}
pre{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


div .code-block{
    border-radius: 3px;
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    padding: 2px 2px 2px 2px;
    font-family: monaco, menlo, consolas, "courier new", monospace!important;
    color: #333;
    font-size: 1.0rem;
    word-wrap: break-word;
}

span .keyword{
    color: #E50053;
}

span .comment{
    color: #D7D6D5;
}

/***************************************************************
 *                        NIGHT-MODE                           *
 ***************************************************************/
.night-mode{
	background-color: #2DA89C;
}

.night-mode a{
    color: #2DA89C;
}

/***************************************************************
 *                         MOBILE                              *
 ***************************************************************/

/* change the padding to fill the screen on mobile */
@media screen and (max-width:1080px){

    #scroll-bar{
        background-color: #E50053;
        position: fixed;
        top: 0;
        left: 0;
        height: 6px;
        z-index: 100;
    }
    code{
        font-size: 30px;
    }

    div .code-block{
        font-size: 28px;
    }
    pre{
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;
    }

    /* Adjusting body settings to look better on mobile devices */
    body{
        background-color: #FDFDFD;
        color: #353535;
        font: normal 150% Palatino, "Palatino Linotype", serif;
        text-rendering: optimizeLegibility;
        padding-right: 5%;
        padding-left: 5%;
    }

    /* center the header for all pages */
    .header-container{
        font: 50px;
        width: 100%;
        z-index: 10;
    }

    /* Enlarge title and center it at the top of the screen */
    .title{
        display: block;
        text-align: center;
        font: normal 325% Palatino, "Palatino Linotype", serif;
        padding-top: 1%;
        line-height: 1%;
    }

    /* Enlarge font by 1.5 times the desktop website */
    .home-page-container{
        font: normal 60px Palatino, "Palatino Linotype", serif;
    }

    /* Horizontally centers `nav` */
    nav{
        text-align: center;
        line-height: 0px;
        float: none;
        font: normal 200% Palatino, "Palatino Linotype", serif;
    }

    /* Horizontally centers `nav ul` */
    nav ul{
        margin-left: 0px;
        float: none;
        padding-left: 0px;
    }

    /* add padding to the '-' character in the nav */
    nav ul li .nav-pad{
        padding-right: 25px;
        padding-left: 25px;
    }

    /* Increase header font by 3 times the desktop site*/
    .page-header h2{
        font: normal 300% Palatino, "Palatino Linotype", serif;
        line-height: 2px;
    }

    /* Enlarge font by 1.5 times the desktop website */
    .page-container{
        font: normal 55px Palatino, "Palatino Linotype", serif;
    }

    /* Enlarge font by 1.3 times the desktop website */
    .footer{
        font: normal 160% Palatino, "Palatino Linotype", serif;
    }

    /*blog title*/
    .blog-header h2{
        font: normal 60px Palatino, "Palatino Linotype", serif;
    }

    .blog-header span{
        font: normal 40px Palatino, "Palatino Linotype", serif;
        font-style: italic;
    }

    /* Blog header font */
    .blog-header p{
        font: normal 50px Palatino, "Palatino Linotype", serif;
    }

    /* Blog table of contents font and list type, add padding between elements */
    .blog-header li{
        font: normal 40px Palatino, "Palatino Linotype", serif;
    }

    /*Blog article title font */
    .blog-container h2{
        font: normal 50px Palatino, "Palatino Linotype", serif;
    }

    /* Increase size of paragraph font */
    .blog-container p{
        font: normal 40px Palatino, "Palatino Linotype", serif;
    }

    /* centering the list on mobile */
    .blog-entry{
        padding-left: 15%;
        padding-right: 15%;
    }

    /* Add more padding to the blog menu titles*/
    .blog-entry li{
        padding-top: 5%;
        padding-bottom: 5%;
    }

    /* Increase font inside blog menu */
    .blog-entry li a{
        font: normal 60px HoeflerText-Regular, 'Hoefler Text', 'Goudy Old Style', 'Palatino', 'Palatino Linotype', serif;
    }

    /* Increase font for blog description */
    .blog-entry li span{
        font: normal 40px Palatino, "Palatino Linotype", serif;
        font-style: italic;
    }

}
